/* Hide default features */
#documenter-article-toggle-button, .breadcrumb ul {
  display: none;
}

/* Font */
body, button, input, optgroup, select, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body, html.theme--documenter-dark body, .admonition, html.theme--documenter-dark .admonition, .katex {
  font-size: 16pt;
}

h3 {
  font-size: 1.2em !important;
}

summary {
  margin-bottom: 1em;
  cursor: pointer;
  text-decoration: underline;
}

p a, ol a, ul a:not(.tocitem), blockquote a {
  text-decoration: underline;
}

/* Fix the prev/next links touching at certain phone sizes */
.docs-footer-nextpage {
  padding-left: 1em;
}

/* Hide things when printing */
@media print {
  .docs-sidebar, .docs-navbar, .docs-footer-prevpage, .docs-footer-nextpage {
    display: none !important;
  }

  body, html.theme--documenter-dark body, .admonition, html.theme--documenter-dark .admonition, .katex {
    font-size: 10pt;
  }
}